.Parent-div{
    background-color: #919191;
    padding: 31px;
    border-radius: 9px;
}
/* Add new exp css start */
.Add-New-Expense{
    color: white;
    background-color: blue;
    text-align: center;
    padding: 14px;
    border-radius: 8px;
}
/* Add new exp css end */
/* Expense items css start  */
.Expense-item{
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    /* border-radius: 12px; */
    background-color: #4b4b4b;   
}
.Expense-Item-title{
    margin-left: 121px;
    margin-top: -40px;
}
.Expense-Item-amount{
    float: right;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 12px;
    margin-top: -46px;
    background-color: #40005d;
    border: 1px solid white;
} 


/* date expense block start  */
.Expense-date{
    background-color: #2a2a2a;
    color: white;
    padding: 6px;
    border: 1px solid #ececec;
    border-radius: 12px;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.Item-month{
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
}
.Item-year{
    text-align: center;
    font-size: 0.75rem;
}
.Item-day{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
/* date expense block end */

